{% load static %}

<div class="points__list">
    <div class="points__card">
        <div class="points__card--image">
            <img src="{% static 'assets/images/dashboard/1.png' %}"
                alt="progress-image" width="auto" height="auto">
        </div>
        <div class="points__card--title text-body-16">
            Boala venoasă trombembolică
        </div>
        <div class="points__card--score chip chip-good">4.2</div>
    </div>
    <div class="points__card">
        <div class="points__card--image">
            <img src="{% static 'assets/images/dashboard/2.png' %}"
                alt="progress-image" width="auto" height="auto">
        </div>
        <div class="points__card--title text-body-16">
            Cardiologie
        </div>
        <div class="points__card--score chip chip-medium">3.2</div>
    </div>
    <div class="points__card">
        <div class="points__card--image">
            <img src="{% static 'assets/images/dashboard/3.png' %}"
                alt="progress-image" width="auto" height="auto">
        </div>
        <div class="points__card--title text-body-16">
            Bolile Hepatice
        </div>
        <div class="points__card--score chip chip-low">2.2</div>
    </div>
</div>