{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="learning">
    <div class="rezi-container">
        <!-- <h4>{{progress_obj}}</h4> -->
        <h4>Q:{{progress_obj.category.name}}</h4>
        <h4>{{progress_obj.completion_percentage}}</h4>
        <!-- <h4>{{progress_obj.last_unanswered_question.correct_answers}}</h4> -->
        <h4>{{progress_obj.statistics}}</h4>
        <div class="options__list">
            {% for answer in progress_obj.last_unanswered_question.answers %}
            <div class="options__list--answer">
                <label for="{{answer.id}}">{{answer.content}}</label>
                <input type="{% if progress_obj.last_unanswered_question.multiple != True %}radio{% else %}checkbox{% endif %}" class="{% if progress_obj.last_unanswered_question.multiple != True %}options__list--radio{% else %}options__list--checkbox{% endif %}" id="{{answer.id}}">
            </div>
            {% endfor %}
        </div>
        <div class="points__message hidden"></div>
        <div class="quiz__navigation">
            <button id="back" class="button button--outline"><i class="fa-solid fa-arrow-left"></i> Back</button>
            <button id="show" class="button button--secondary">See answer <i class="fa-solid fa-eye"></i></button>
            <button id="next" class="button button--primary">Next <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    localStorage.clear();
    // Helper function to disable all checkboxes
    function disableCheckboxes() {
        $("input").prop("disabled--option", true);
    }

    function nextAnsweredButtonFunction(){
            if (localStorage.getItem('IndexesToDeduct')) {
                var IndexesToDeduct = localStorage.getItem('IndexesToDeduct');
                    IndexesToDeduct = parseInt(IndexesToDeduct) - 1
                localStorage.setItem('IndexesToDeduct', IndexesToDeduct);
            } 
            var dataToSend = {
                indexes_to_deduct: IndexesToDeduct,
            };
            $.get("{% url 'navigate' direction='previous' %}", dataToSend, function(response) {
                $('.learning-container').html(response.html_content);
                if (response.is_first == true){
                } else if (response.is_last == true){
                    localStorage.clear();
                    if (!response.is_all_completed){
                        $('input:checkbox').click(handleCheckboxClick);
                        $('#next').click(nextButtonClick)
                        $('#show').click(seeAnswerClick)
                        $('#back').click(previousButtonClick)
                    } else{
                        $('.next-answered-button').click(nextButtonClick)
                        disableCheckboxes()
                    }
                } else {
                    disableCheckboxes()
                    $('#next').click(nextButtonClick)
                    $('.next-answered-button').click(nextAnsweredButtonFunction)
                    $('#back').click(previousButtonClick)
                }
            })
            disableCheckboxes()
    }

    function previousButtonClick() {
        if (localStorage.getItem('IndexesToDeduct')) {
            var IndexesToDeduct = localStorage.getItem('IndexesToDeduct');
                IndexesToDeduct = parseInt(IndexesToDeduct) + 1
            localStorage.setItem('IndexesToDeduct', IndexesToDeduct);
        } else {
            IndexesToDeduct = 1
            localStorage.setItem('IndexesToDeduct', IndexesToDeduct);
        }
        var dataToSend = {
            indexes_to_deduct: IndexesToDeduct,
        };
        $.get("{% url 'navigate' direction='previous' %}", dataToSend, function(response) {
            $('.learning-container').html(response.html_content);
            if (response.is_first == true){
                $('#back').addClass('disabled--option')
            } else{
                $('#back').click(previousButtonClick)
            }
            $('.next-answered-button').click(nextAnsweredButtonFunction)
            disableCheckboxes()
        })
    }

    function nextButtonClick() {
        $.get("{% url 'learning-session' flag=1 %}", function(response) {
            $('.learning-container').html(response);
            $('input:checkbox').click(handleCheckboxClick);
            $('#show').click(seeAnswerClick)
            $('#next').click(nextButtonClick)
            $('#back').click(previousButtonClick)
            if (total_points){
                $('#total-points-div').html(`La aceasta sesiune ai facut ${total_points} puncte` )
            }
        });
    }
    function seeAnswerClick(){
        $('.options__list--option').each(function(index, element) {
            const id = $(element).find('input').attr('id');
            if (correctAnswersIds.includes(id)) {
                $(element).addClass('correct-answer');
            } else {
                $(element).addClass('wrong-answer');
            }
        });

        $(this).addClass('disabled--option');
        disableCheckboxes();
        $('#next').removeClass('disabled--option');

        let userAnswers = processUserAnswers();

        let postData = {
            answers: userAnswers,
            csrfmiddlewaretoken: '{{csrf_token}}'
        };

        $.post("{% url 'learning-session' %}", postData, function(response) {
            correctAnswersIds = response.new_answers
            points = response.points
            total_points = response.total_points
            $('.points__message').removeClass('hidden')
            $('.points__message').html(`La aceasta intrebare ai facut ${points} puncte.` );
        }).fail(function(error) {
            console.error('Error:', error);
        });

    }
    function handleCheckboxClick() {
        let $checkbox = $(this);
    
        if ($checkbox.hasClass('checkbox-round')) {
            $checkbox.toggleClass('question__checked ');
            $('.checkbox-round').not($checkbox).removeClass('question__checked');
        } else {
            $checkbox.toggleClass('question__checked');
        }
    
        if ($('.question__checked ').length > 0) {
            $('#show').removeClass('disabled--option');
        } else {
            $('#show').addClass('disabled--option');
        }
    }
    

    // Helper function to process user answers
    function processUserAnswers() {
        let userAnswers = [];
        $('.options__list--option:has(input.question__checked )').each(function(index, element) {
            var id = $(element).find('input:checked').attr('id');
            userAnswers.push(id);
        });
        return userAnswers;
    }

    const is_first_question = '{{progress_obj.is_first}}';
    let total_points = 0
    let correctAnswersIds = [{% for answer in progress_obj.last_unanswered_question.correct_answers %} '{{answer}}', {% endfor %}];

    if (is_first_question === 'True') {
        $('#back').addClass('disabled--option');
    }

    // Event handler for the "See Answer" button
    $('#show').click(seeAnswerClick)

    // Event handler for checkboxes
    $('input:checkbox').click(handleCheckboxClick);

    // Event handler for the "Next" button
    $('#next').click(nextButtonClick)
    $('#back').click(previousButtonClick)

});
</script>

{% endblock %}
