<div class="todo__card" data-task-id='{{task.id}}'>
    <div class="todo__card--content">
        <input type="checkbox" class="todo__card--checkbox" id='task_{{task.id}}' {% if task.is_completed %} checked {% endif %}>
        <label for="task_{{task.id}}"></label>
        <div class="todo__card--content-info">
            <div class="todo__card--title">{{task.description}}</div>
            <div class="todo__card--date">{{task.deadline}}</div>
        </div>
    </div>
    <div class="todo__card--actions" data-task-id='{{task.id}}'>
        <button class="button__actions button__actions--edit"><i
                class="fa-solid fa-pencil"></i></button>
        <button class="button__actions button__actions--delete"><i
                class="fa-solid fa-trash"></i></button>
    </div>
</div>
