<div class="todo__card">
    <div class="todo__card--content">
        <!-- Vlad aici trebuie sa fie id unic -->
        <input type="checkbox" class="todo__card--checkbox" id="checkbox1">
        <!-- si aici sa se potriveasca cu idul de sus  -->
        <label for="checkbox1"></label>
        <div class="todo__card--content-info">
            <div class="todo__card--title">Todo Item</div>
            <div class="todo__card--date">August 31, 2023</div>
        </div>
    </div>
    <div class="todo__card--actions">
        <button class="button__actions button__actions--edit"><i
                class="fa-solid fa-pencil"></i></button>
        <button class="button__actions button__actions--delete"><i
                class="fa-solid fa-trash"></i></button>
    </div>
</div>
