/* ====================
   1. COLORS
   ==================== */
:root {
  --pale-violet : #C8ACEE;
  --pale-gold   : #FADE7E;
  --pale-liliac : #D1CFFD;
  --pale-pink   : #F9D9E0;
  --pastel-blue : #90C3FF;
  --blue-hosta  : #69BFC8;
  --black       : #000;
  --white       : #fff;
  --gray-50     : #f9fafb;
  --gray-100    : #f3f4f6;
  --gray-200    : #e5e7eb;
  --gray-300    : #d1d5db;
  --gray-400    : #9ca3af;
  --gray-500    : #6b7280;
  --gray-600    : #4b5563;
  --gray-700    : #374151;
  --gray-800    : #1f2937;
  --gray-900    : #111827;
  --gray-950    : #030712;
  --blue-intense: #2563EB;
}

.bg {
  background-color: transparent;
}

.bg--pale-violet {
  background-color: var(--pale-violet);
}

.bg--pale-gold {
  background-color: var(--pale-gold);
}

.bg--pale-liliac {
  background-color: var(--pale-liliac);
}

.bg--pale-pink {
  background-color: var(--pale-pink);
}

.bg--pastel-blue {
  background-color: var(--pastel-blue);
}

.bg--blue-hosta {
  background-color: var(--blue-hosta);
}

.bg--black {
  background-color: var(--black);
}

.bg--white {
  background-color: var(--white);
}

.bg--gray-50 {
  background-color: var(--gray-50);
}

.bg--gray-100 {
  background-color: var(--gray-100);
}

.bg--gray-200 {
  background-color: var(--gray-200);
}

.bg--gray-300 {
  background-color: var(--gray-300);
}

.bg--gray-400 {
  background-color: var(--gray-400);
}

.bg--gray-500 {
  background-color: var(--gray-500);
}

.bg--gray-600 {
  background-color: var(--gray-600);
}

.bg--gray-700 {
  background-color: var(--gray-700);
}

.bg--gray-800 {
  background-color: var(--gray-800);
}

.bg--gray-900 {
  background-color: var(--gray-900);
}

.bg--gray-950 {
  background-color: var(--gray-950);
}

.bg--blue-intense {
  background-color: var(--blue-intense);
}

/* Text Color Classes */
.text--pale-violet {
  color: var(--pale-violet);
}

.text--pale-gold {
  color: var(--pale-gold);
}

.text--pale-liliac {
  color: var(--pale-liliac);
}

.text--pale-pink {
  color: var(--pale-pink);
}

.text--pastel-blue {
  color: var(--pastel-blue);
}

.text--blue-hosta {
  color: var(--blue-hosta);
}

.text--black {
  color: var(--black);
}

.text--white {
  color: var(--white);
}

.text--gray-50 {
  color: var(--gray-50);
}

.text--gray-100 {
  color: var(--gray-100);
}

.text--gray-200 {
  color: var(--gray-200);
}

.text--gray-300 {
  color: var(--gray-300);
}

.text--gray-400 {
  color: var(--gray-400);
}

.text--gray-500 {
  color: var(--gray-500);
}

.text--gray-600 {
  color: var(--gray-600);
}

.text--gray-700 {
  color: var(--gray-700);
}

.text--gray-800 {
  color: var(--gray-800);
}

.text--gray-900 {
  color: var(--gray-900);
}

.text--gray-950 {
  color: var(--gray-950);
}

.text--blue-intense {
  color: var(--blue-intense);
}