/* 
   COMPONENTS
   1.Inputs
   2.Buttons
   3.Cards
*/

.error-message {
    color    : firebrick;
    font-size: 1rem;
}


/* ====================
1. Inputs
==================== */

.form__field {
    display       : flex;
    flex-direction: column;
    gap           : .5rem;
    width         : 100%;
    font-size     : 1rem;
    font-style    : normal;
    font-weight   : 500;
    line-height   : 1.875rem;
}

.form__label {
    display       : flex;
    flex-direction: column;
    gap           : .5rem;
    width         : 100%;
    pointer-events: none;
}

.form__input {
    box-sizing   : border-box;
    border-radius: .875rem;
    border       : 1px solid var(--gray-200);
    padding      : 1.125rem 1.5rem;
    transition   : border .1s ease;
    height       : 56px;
}

.form__input:focus,
.form__input:hover {
    outline       : 3px solid var(--gray-950);
    outline-offset: -3px;
    border        : 1px solid transparent;
}

.form__actions {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    gap           : 1rem;
    margin-top    : 2rem;
}

.form__select {
    position: relative;
    width   : 100%;
}

.form__select--input {
    width             : 100%;
    display           : flex;
    flex-direction    : row;
    align-items       : center;
    border-radius     : .875rem;
    border            : 1px solid var(--gray-200);
    padding           : 1.125rem 1.5rem;
    transition        : border .1s ease;
    height            : 56px;
    -webkit-appearance: none;
    appearance        : none;
}

.form__select--input:hover,
.form__select--input:focus {
    cursor        : pointer;
    outline       : 3px solid var(--gray-950);
    outline-offset: -3px;
    border        : 1px solid transparent;
}

.form__select--icon {
    position      : absolute;
    top           : 1.2rem;
    right         : 1.5rem;
    pointer-events: none;
}

/* ====================
2. Buttons
==================== */

.button {
    width          : 100%;
    max-width      : 500px;
    height         : 56px;
    border         : 0;
    border-radius  : .75rem;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    gap            : .5rem;
    font-size      : 1rem;
}

.button--primary {
    background-color: var(--gray-950);
    color           : var(--white);
    font-weight     : 600;
    line-height     : 28px;
}

.button--primary:hover {
    background-color: var(--gray-900);
    cursor          : pointer;
}

.button--primary:active {
    transition      : transform .2s ease;
    background-color: var(--gray-800);
    transform       : scale(.98);
    box-shadow      : rgba(0, 0, 0, 0.25) 0px 5px 10px -5px;
}

.button--secondary {
    background-color: var(--gray-50);
    color           : var(--gray-950);
    font-weight     : 600;
    line-height     : 28px;
    font-size       : 1rem;
    border          : 1px solid var(--gray-200);
}

.button--secondary:hover {
    background-color: var(--gray-100);
    cursor          : pointer;
}

.button--secondary:active {
    transition      : transform .2s ease;
    background-color: var(--gray-100);
    transform       : scale(.98);
    box-shadow      : rgba(0, 0, 0, 0.25) 0px 5px 10px -5px;
}

.button--secondary img {
    width : 16px;
    height: 16px;
}

.button--outline {
    background-color: var(--white);
    border          : 3px solid var(--gray-950);
    cursor          : pointer;
    font-weight     : 600;
}

.button--outline:hover {
    background-color: var(--gray-100);
}

.button--outline:active {
    transition      : transform .2s ease;
    background-color: var(--gray-200);
    transform       : scale(.98);
    box-shadow      : rgba(0, 0, 0, 0.25) 0px 5px 10px -5px;
}

.button--outline>span {
    display       : flex;
    flex-direction: row;
    gap           : .5rem;
}