.error-message {
    color    : firebrick;
    font-size: 1rem;
}

#main {
    padding-top     : 4.5rem;
    background-color: #F0F0F0;
    width           : 100%;
    direction       : ltr;
    padding-bottom  : 2rem;
}

.pointer {
    cursor: pointer;
}

.section-column {
    display       : flex;
    flex-direction: column;
    padding       : .5rem;

}

.section-row {
    display       : flex;
    flex-direction: row;
    padding       : 1rem;
}