 <div class="navbar__user">
    <img src="https://randomuser.me/api/portraits/men/3.jpg"
        alt="Avatar" class="navbar__avatar"
        id="avatar"
        width="auto"
        height="auto" />

    <div class="navbar__menu navbar__menu--hidden" id="userMenu">
        <a href="#" class="navbar__menu--link">
            <i class="fa-solid fa-user"></i>
            Profilul meu
        </a>
        <a href="#" class="navbar__menu--link">
            <i class="fa-solid fa-gear"></i>
            Setari
        </a>
        <a href="#" class="navbar__menu--link">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Deconectare
        </a>
    </div>
</div>