{% extends '_base.html' %}
{% load user_profile %}
{% load inputs %}
{% load buttons %}

{% block content %}

<div class="auth">
    <div class="auth__left">
        <div class="auth__content">
            <h1 class="display-1">ReziHub 🎓</h1>
            <p class="text-body-16">Lorem ipsum dolor sit amet
                consectetur. Pellentesque quis sed eu egestas ultricies
                dolor id.
            </p>
            <form method="post" action="{% url 'continue-register' %}">
                {% csrf_token %}
                {% for field in form %}
                <div class="form__field">
                    {% text_input label=field.label custom_id=field.id_for_label input_type=field.widget.input_type placeholder=field.widget.attrs.placeholder required=field.required max_length=field.max_length error_message=field.errors %}
                </div>
                {% endfor %}

                {% primary_button "Continua" %}
            </form>
        </div>
    </div>
    <div class="auth__right">
        <div class="auth__right-wrapper">
            <div class="auth__right-heading">Lorem ipsum dolor sit amet</div>
            <div class="auth__right-text">Lorem ipsum dolor sit amet
                consectetur. Tortor dui vitae proin viverra. Cursus mi
                vel risus dolor nisi ac in euismod vel gravida mi
                aliquet sit sit.</div>
        </div>
        <div class="auth__right-image">
            <img src="/static/assets/images/dashboard-present-min.png" alt="rezihub dashboard" width="auto" height="auto">
        </div>
    </div>
</div>
{% endblock %}
