<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Classes import -->
        <link rel="stylesheet" type="text/css" href="static/css/_main.css">
        <link rel="stylesheet" type="text/css" href="static/css/auth/auth.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="static/js/stepper.js"></script>
        <!-- Misc -->
        <title>Rezihub</title>
    </head>
    <body>
        <div class="auth">
            <div class="auth__left">
                <h1 class="auth__title-stepper">{{step_message}}</h1>
                {{form.as_p}}
            </div>
            <div class="auth__right">
                <div class="auth__right-wrapper">
                    <div class="auth__right-heading">Lorem ipsum dolor sit amet</div>
                    <div class="auth__right-text">Lorem ipsum dolor sit amet consectetur. Tortor dui vitae proin viverra. Cursus mi vel risus dolor nisi ac in euismod vel gravida mi aliquet sit sit.</div>
                </div>
                <div class="auth__right-image">
                    <img src="/static/assets/images/dashboard-present-min.png" alt="rezihub dashboard">
                </div>
            </div>
        </div>
    </body>
</html>