{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="auth">
    <div class="auth__left">
        <div class="auth__content">
            <h1 class="display-1">ReziHub 🎓</h1>
            <p class="text-body-16">Lorem ipsum dolor sit amet
                consectetur. Pellentesque quis sed eu egestas ultricies
                dolor id.
            </p>
            <form class="auth-form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form__field">
                    <label for="email" class="form__label">Email:</label>
                    <input id="email" class="form__input" name='email' required placeholder="Enter your email">
                    {% if errors %}
                    <div class="form__error--text">{{ errors }}</div>
                    {% endif %}
                </div>
                <div class="form__field">
                    <label for="password" class="form__label">Password:</label>
                    <input id="password" type='password' class="form__input" name='password' required placeholder="Enter your password">
                    {% if errors.password %}
                        <div class="form__error--text">{{ errors.password }}</div>
                    {% endif %}
                </div>
                <div class="form__actions">
                    <button
                        class="button button--primary full-w"
                        type="submit">Autentificare</button>
                    <button
                        class="button button--secondary full-w">
                        <img src="/static/assets/images/google-logo.svg"
                            alt="google logo">
                        Sign up with Google
                    </button>
                    <div class="auth-form__helper">
                        <p>Don't have an account? <a
                                href="/authentication/register/">Create
                                free account</a>
                        </p>
                        <a href="#">Forgot password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="auth__right">
        <div class="auth__right-wrapper">
            <div class="display-1">Lorem ipsum dolor sit amet</div>
            <div class="text-body-16">Lorem ipsum dolor sit amet
                consectetur. Tortor dui vitae proin viverra. Cursus mi
                vel risus dolor nisi ac in euismod vel gravida mi
                aliquet sit sit.</div>
        </div>
        <div class="auth__right-image">
            <img src="/static/assets/images/dashboard-present-min.png"
                alt="rezihub dashboard">
        </div>
    </div>
</div>
{% endblock %}