{% load static %}

<!DOCTYPE html>
<html lang="ro">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Classes & script import -->
    <link href="{% static '/css/_main.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Misc -->
    <title>Rezihub</title>
</head>
<body>
    {% csrf_token %}
    <main id="main">
        {% block content %}
        <!-- page content -->
        {% endblock %}
    </main>
    <!-- Inline Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
   <script>
        // This script will trigger focus on the input element when the modal is shown
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus');
        });

        // Trigger the modal and focus on input when button is clicked
        $('#launchModalButton').click(function () {
            $('#exampleModal').modal('show');
            $('#modalInput').trigger('focus');
        });
        $('#close-todo-modal').click(function () {
            $('#exampleModal').modal('hide')
        });
            {% comment %} $('#submitFormButton').click(function() {
                var form = $('#exampleModal form');
                var descriptionField = form.find('[name="description"]');
                var deadlineField = form.find('[name="deadline"]');
                var descriptionError = form.find('.description-error');
                var deadlineError = form.find('.deadline-error');
                
                // Clear previous error messages
                descriptionError.text('');
                deadlineError.text('');
                
                if (descriptionField.val().trim() === '') {
                    descriptionError.text('This field is required.');
                    return false;  // Prevent form submission
                }
    
                if (deadlineField.val().trim() === '') {
                    deadlineError.text('This field is required.');
                    return false;  // Prevent form submission
                }
    
                $.ajax({
                    url: form.attr('action'),
                    type: 'POST',
                    data: form.serialize(),
                    success: function(response) {
                        document.body.innerHTML = response;  // Replace the entire page with the response
                    }
                }); {% endcomment %}
            {% comment %} }); {% endcomment %}
    </script>
</body>
</html>
