{% load static %}

<!DOCTYPE html>
<html lang="ro">
    <head>
        <!-- Metadata -->
        <!-- Primary Meta Tags -->
        <title>Rezihub</title>
        <meta name="title" content="Page Title">
        <meta name="description" content="Page description goes here">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.example.com/">
        <meta property="og:title" content="Page Title">
        <meta property="og:description" content="Page description goes here">
        <meta property="og:image" content="https://example.com/image.jpg">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.example.com/">
        <meta property="twitter:title" content="Page Title">
        <meta property="twitter:description" content="Page description goes here">
        <meta property="twitter:image" content="https://example.com/image.jpg">

        <!-- Classes & script import -->
        <link href="{% static '/css/_main.css' %}" rel="stylesheet">
        <script src="{% static '/js/main.js' %}"></script>
        <script src="{% static '/js/utils.js' %}"></script>

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet">
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            rel="stylesheet">

        <!-- Misc -->
        <title>Rezihub</title>
    </head>
    <body>
        {% csrf_token %}
        <main id="main">
            <h1>{{request.user.last_step}}</h1>
            {% if request.user.is_authenticated and not request.user.actual_step %}
                {% include '_navbar.html' %}
            {% endif %}
            {% block content %}
            <!-- page content -->
            {% endblock %}
        </main>
        <!-- Inline Bootstrap scripts -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script>
        // This script will trigger focus on the input element when the modal is shown
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus');
        });

        // Trigger the modal and focus on input when button is clicked
        $('#launchModalButton').click(function () {
            $('#exampleModal').modal('show');
            $('#modalInput').trigger('focus');
        });
        $('#close-todo-modal').click(function () {
            $('#exampleModal').modal('hide')
        });
        $('#close-todo-modal-update').click(function () {
          $('#updateModal').modal('hide')
      });


      const detailUrl = `{% url 'todo-detail' todo_id=0 %}`
      const updateUrl = `{% url 'update-todo' todo_id=0 %}`
      const deleteUrl = `{% url 'todo-delete' todo_id=0 %}`
      const retrieveUrl = `{% url 'get-todo' todo_id=0 %}`

        addRemoveEventTodo(deleteUrl)
        addRetrieveEventTodo(retrieveUrl, updateUrl)
        const todoItemsDiv = document.querySelector('.todo__list');
        todoItemsDiv.addEventListener('change', event => {
            UpdateTasksPositions(event, detailUrl, deleteUrl)
        });
      </script>
      
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentUrl = window.location.href;

    // Remove the '/True/' portion from the URL
    var updatedUrl = currentUrl.replace(/\/True\/$/, '/');

    // Use history.replaceState() to update the URL without '/True/'
    history.replaceState(null, '', updatedUrl);

            const backButton = document.getElementById('back-button');
            if (backButton) {
                backButton.addEventListener('click', function () {
                    const url = backButton.getAttribute('data-url');
                    
                    // Get the current URL
                    var currentUrl = window.location.href;
        
                    // Remove the 'back' parameter from the query string
                    var updatedUrl = currentUrl.replace(/(\?|&)back=[^&]*(&?)/, '$1');
        
                    // Use history.replaceState() to update the URL without 'back' parameter
                    history.replaceState(null, '', updatedUrl);
        
                    redirectToUrl(url);
                });
            }
        });
        
        
        function redirectToUrl(url) {
            window.location.href = url;
        }
        
    </script>
</body>
</html>
