<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Classes import -->
        <link rel="stylesheet" type="text/css" href="static/css/_main.css">
        <link rel="stylesheet" type="text/css" href="static/css/auth/auth.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <script src="static/js/stepper.js"></script>
        <!-- Misc -->
        <title>Rezihub</title>
    </head>
    <body>
        <div class="auth">
            <div class="auth__left">
                <div class="auth__content">
                    <h1 class="auth__title-stepper">În ce oras vrei sa mergi?  🏡</h1>
                    <form id="step-4"class="auth-form">
                        <div class="select">
                            <select class="select__input">
                              <option value="">Alege Oras</option>
                              <option value="1">Option 1</option>
                              <option value="2">Option 2</option> 
                              <option value="3">Option 3</option>
                              <option value="4">Option 4</option>
                              <option value="5">Option 5</option>
                            </select>
                            <i class="fa-solid fa-chevron-down select__icon"></i>
                          </div>
           
                    </form>

                    <div class="auth-form__actions">
                        <button
                            id="button-stepper-4"
                            class="auth-form__button auth-form__button--primary" data-url="/dashboard.html">
                            <span style="display: block;">Continua</span>
                        </button>
                        <button
                            id="button-stepper-back-4"
                            class="auth-form__button auth-form__button--back"data-url="/step4.html">
                            <span>
                                <i class="fa-solid fa-arrow-left"></i>
                                Inapoi
                            </span>
                        </button>
                    </div>

                    <div class="stepper__info">
                        Datele dumneavoastră de contact sunt necesare în vederea emiterii facturii în cazul achiziționării unui cont premium. 
                        Vă asigurăm că informațiile personale furnizate vor fi păstrate în siguranță și vor fi utilizate doar în scopul facturării și comunicării cu dumneavoastră. 
                        Ne angajăm să protejăm confidențialitatea datelor clienților noștri și să respectăm cele mai înalte standarde de securitate și transparență. 
                        Vă mulțumim pentru înțelegere.
                    </div>
                </div>
            </div>
            <div class="auth__right">
                <div class="auth__right-wrapper">
                    <div class="auth__right-heading">Lorem ipsum dolor sit amet</div>
                    <div class="auth__right-text">Lorem ipsum dolor sit amet consectetur. Tortor dui vitae proin viverra. Cursus mi vel risus dolor nisi ac in euismod vel gravida mi aliquet sit sit.</div>
                </div>
                <div class="auth__right-image">
                    <img src="/static/assets/images/dashboard-present-min.png" alt="rezihub dashboard">
                </div>
            </div>
        </div>
    </body>
</html>