{% extends '_base.html' %}
{% block content %}
<div class="auth">
  <div class="auth__left">
    <div class="auth__content">
      <h1 class="auth__title-stepper">În ce oras vrei sa mergi?  🏡</h1>
      <form id="step-5" method="post" class="auth-form" action="{% url 'continue-register' %}">
        {% csrf_token %}
        <div class="form__select">
          <select class="form__select--input" required name='oras'>
            <option value="">Alege Oras</option>
            {% for city in cities %}
            <option value="{{city.nume}}">{{city.nume}}</option>
            {% endfor %}
          </select>
          <i class="fa-solid fa-chevron-down form__select--icon"></i>
        </div>
        <div class="form__actions">
          <button id="submit-button" class="button button--primary" type='submit'>
            <span>Continua</span>
          </button>
          <button id="back-button" class="auth-form__button auth-form__button--back "data-url="/step4.html">
            <span>
              <i class="fa-solid fa-arrow-left"></i>
              Inapoi
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="auth__right">
    <div class="auth__right-wrapper">
      <div class="display-1">Lorem ipsum dolor sit amet</div>
      <div class="text-body-16">Lorem ipsum dolor sit amet consectetur. Tortor dui vitae proin viverra. Cursus mi vel risus dolor nisi ac in euismod vel gravida mi aliquet sit sit.</div>
    </div>
    <div class="auth__right-image">
      <img src="/static/assets/images/dashboard-present-min.png" alt="rezihub dashboard" width="auto" height="auto">
    </div>
  </div>
</div>
{% endblock %}