<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Classes import -->
        <link rel="stylesheet" type="text/css" href="static/css/_main.css">
        <link rel="stylesheet" type="text/css" href="static/css/auth/auth.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <script src="static/js/stepper.js"></script>
        <!-- Misc -->
        <title>Rezihub</title>
    </head>
    <body>
        <div class="auth">
            <div class="auth__left">
                <div class="auth__content">
                    <h1 class="auth__title-stepper">Ce specialitate iti doresti?  💼 </h1>
                    <div id="step-3" class="sub-speciality-select-list">
                        <div class="sub-speciality-card" data-select="Cardiologie">
                          <img class="sub-speciality-card__image" src="/static/assets/images/clinice-adulti.png" alt="specialitate">
                          <div class="sub-speciality-card__text">Cardiologie</div>
                        </div>
                        <div class="sub-speciality-card" data-select="Neurologie">
                            <img class="sub-speciality-card__image" src="/static/assets/images/clinice-pediatrice.png" alt="specialitate">
                            <div class="sub-speciality-card__text">Neurologie</div>
                          </div>
                          <div class="sub-speciality-card" data-select="Dermatologie">
                            <img class="sub-speciality-card__image" src="/static/assets/images/chirurgicale-adulti.png" alt="specialitate">
                            <div class="sub-speciality-card__text">Dermatologie</div>
                          </div>
                          <div class="sub-speciality-card" data-select="Psihiatrie">
                            <img class="sub-speciality-card__image" src="/static/assets/images/chirurgicale-pediatrice.png" alt="specialitate">
                            <div class="sub-speciality-card__text">Psihiatrie</div>
                          </div>
                          <div class="sub-speciality-card" data-select="Ginecologie">
                            <img class="sub-speciality-card__image" src="/static/assets/images/paraclinice.png" alt="specialitate">
                            <div class="sub-speciality-card__text">Ginecologie</div>
                          </div>
                          <div class="sub-speciality-card" data-select="Chirurgie generală">
                            <img class="sub-speciality-card__image" src="/static/assets/images/paraclinice.png" alt="specialitate">
                            <div class="sub-speciality-card__text">Chirurgie generală</div>
                          </div>
                          <div class="sub-speciality-card" data-select="Neurochirurgie">
                            <img class="sub-speciality-card__image" src="/static/assets/images/paraclinice.png" alt="specialitate">
                            <div class="sub-speciality-card__text">Neurochirurgie</div>
                          </div>
                          <div class="sub-speciality-card" data-select="Reumatologie">
                            <img class="sub-speciality-card__image" src="/static/assets/images/paraclinice.png" alt="specialitate">
                            <div class="sub-speciality-card__text">Reumatologie</div>
                          </div>
                          <div class="sub-speciality-card" data-select="Alergologie și imunologie clinică">
                            <img class="sub-speciality-card__image" src="/static/assets/images/paraclinice.png" alt="specialitate">
                            <div class="sub-speciality-card__text">Alergologie și imunologie clinică</div>
                          </div>
                          <div class="sub-speciality-card" data-select="Neurochirurgie">
                            <img class="sub-speciality-card__image" src="/static/assets/images/paraclinice.png" alt="specialitate">
                            <div class="sub-speciality-card__text">Neurochirurgie</div>
                          </div>
                          <div class="sub-speciality-card" data-select="Reumatologie">
                            <img class="sub-speciality-card__image" src="/static/assets/images/paraclinice.png" alt="specialitate">
                            <div class="sub-speciality-card__text">Reumatologie</div>
                          </div>
                          <div class="sub-speciality-card" data-select="Alergologie și imunologie clinică">
                            <img class="sub-speciality-card__image" src="/static/assets/images/paraclinice.png" alt="specialitate">
                            <div class="sub-speciality-card__text">Alergologie și imunologie clinică</div>
                          </div>
                    </div>

                    <div class="auth-form__actions">
                        <button
                            id="button-stepper-3"
                            class="auth-form__button auth-form__button--primary" data-url="/step5.html">
                            <span style="display: block;">Continua</span>
                        </button>
                        <button
                            id="button-stepper-back-3"
                            class="auth-form__button auth-form__button--back" data-url="/step3.html">
                            <span>
                                <i class="fa-solid fa-arrow-left"></i>
                                Inapoi
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="auth__right">
                <div class="auth__right-wrapper">
                    <div class="auth__right-heading">Lorem ipsum dolor sit amet</div>
                    <div class="auth__right-text">Lorem ipsum dolor sit amet consectetur. Tortor dui vitae proin viverra. Cursus mi vel risus dolor nisi ac in euismod vel gravida mi aliquet sit sit.</div>
                </div>
                <div class="auth__right-image">
                    <img src="/static/assets/images/dashboard-present-min.png" alt="rezihub dashboard">
                </div>
            </div>
        </div>
    </body>
</html>