  <div id="step-4" class="sub-speciality-select-list">
          {% for speciality in  specialities %}
            <div class="sub-speciality-card" data-select="{{speciality}}">
              <img class="sub-speciality-card__image" src="/static/assets/images/clinice-adulti.png" alt="{{speciality}}" width="auto" height="auto">
              <div class="sub-speciality-card__text">{{speciality}}</div>
            </div>
          {% endfor %}
          <div class="form__actions">
            <button id="back-button" class="button button--outline" data-url="/step4.html">
                <span>
                    <i class="fa-solid fa-arrow-left"></i>
                    Inapoi
                </span>
            </button>
        </div>
  </div>
                  
                  
                  
                  
                  
