{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="rezi__container">
  <div class="learning--info">
    <div class="learning--heading heading-5 mb-2">📖 Învață</div>
    <div class="learning--text text-body-16 text--gray-500">Alege categoria (chimie sau biologie) și parcurge grilele din care capitol doreșți. Dacă nu ai achiziționat un abonament vei avea acces doar la primul capitol de la fiecare materie. </div>
  </div>
  {% include '_tabs.html' %}
  {% include 'learning/components/sub-categories.html' with categories=categories %}
  {% include 'learning/modals/learning-type-modal.html' %}
</div>
<script>
const token = "{{csrf_token}}"
let tabIndex = "{% url 'chapter-select-specific' category_id=0 %}";
let backendURL = "{% url 'start-learning-session' %}"; //backend link
let redirectURL = "{% url 'learning-session' session_id=0 %}" // redirect link frontend
let lastSessionURL = "{% url 'last-session' %}" // redirect link frontend
</script>
<script src="{% static 'js/learning.js' %}"></script>
{% endblock %}