{% load static %}
<div class="progress__bar__card">
    <div class="progress__bar__card--image">
        <img src="{% static 'assets/images/dashboard/kumar.png' %}"
            alt="progress-image" width="auto" height="auto">
    </div>
    <div class="progress__bar__card--info">
        <div class="heading-6">Kumar - 56%</div>
        <div class="progress__bar__card--progress">
            <div class="progress__bar__card--progress-inner bg--blue-intense"
                style="width: 60%;"></div>
        </div>
    </div>
</div>