{% load static %}
<div class="progress__card">
    <div class="progress__card--image">
        <img src="{% static 'assets/images/dashboard/chirurgie.png' %}"
            alt="progress-image" width="auto" height="auto">
    </div>
    <div class="progress__card--info">
        <div class="heading-6">Echilibrul hidro-electrolitic şi acido-bazic</div>
        <div class="progress__card--info-bottom">
            <div class="body-1">Intrebarea 106/120</div>
            <button class="button button--primary button--small">
                Continua
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </div>
</div>